{
    
    "extends": [
    
    "eslint:recommended"
    
    ],

    "rules": {
    
    "class-name": 2,
    "comment-format": [
    
    2,
    
    "check-space"
    
    ],
    
    "indent": [ "error" , 2 ], 
    
    "one-line": [
    
    2,
    
    "check-open-brace",
    
    "check-whitespace"
    
    ],
    
    "no-var-keyword": 2,
    
    "quotemark": [
    
    2,
    
    "single",
    
    "avoid-escape"
    
    ],
    
    "semicolon": [
    
    2,
    
    "always",
    
    "ignore-bound-class-methods"
    
    ],
    
    "whitespace": [
    
    2,
    
    "check-branch",
    
    "check-decl",
    
    "check-operator",
    
    "check-module",
    
    "check-separator",
    
    "check-type"
    
    ],
    
    "typedef-whitespace": [
    
    2,
    
    {
    
    "call-signature": "nospace",
    
    "index-signature": "nospace",
    
    "parameter": "nospace",
    
    "property-declaration": "nospace",
    
    "variable-declaration": "nospace"
    
    },
    
    {
    
    "call-signature": "onespace",
    
    "index-signature": "onespace",
    
    "parameter": "onespace",
    
    "property-declaration": "onespace",
    
    "variable-declaration": "onespace"
    
    }
    
    ],
    
    "no-internal-module": 2,
    
    "no-trailing-whitespace": 2,
    
    "no-null-keyword": 2,
    
    "prefer-const": 2,
    
    "jsdoc-format": 2,
    
    "no-console": 0
    
    },
    
    }
    